<div id="footer">
    <div class="footer-list">
        <div class="footer-item">
            <div class="footer">STUDENT SMART PRINTING SERVICE</div>
            <img src="../img/logo.png" alt="Name" class="footer-img">
        </div>
        <div class="footer-item">
            <div class="footer">WEBSITE</div>
            <ul class="custom-ul">
                <li class="mb8"><a href="http://hcmut.edu.vn/" class="custom-link">HCMUT</a></li>
                <li class="mb8"><a href="https://mybk.hcmut.edu.vn/" class="custom-link">MyBK</a></li>
                <li class="mb8"><a href="http://mybk.hcmut.edu.vn/bksi/" class="custom-link">BKSI</a></li>
            </ul>
        </div>
        <div class="footer-item">
            <div class="contact">LIÊN HỆ</div>
            <div class="contact-info">
                <ul>
                    <li class="mb8"><i class="ti-location-pin"></i>268 Lý Thường Kiệt, P.14, Q.10, TP.HCM</li>
                    <li class="mb8"><i class="ti-mobile"></i>(028) 38 651 670 - (028) 38 647 256 (Ext: 5258, 5234)
                    </li>
                    <li class="mb8"><i class="ti-email"></i><a
                            href="mailto:elearning@hcmut.edu.vn">elearning@hcmut.edu.vn</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<style>
    #footer {
        margin-top: 56px;
        background: url(../img/background_footer.jpg) bottom;
        filter: brightness(80%);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 200px;
        bottom: 0;
        width: 100%;

    }

    .footer-list {
        overflow: hidden;
        padding-top: 28px;
    }

    #footer .footer {
        font-size: 18px;
        color: #fff;
        margin-bottom: 15px;
        font-weight: bold;
    }

    #footer .footer-img {
        width: 100px;
        border-radius: 4px;
    }

    #footer .content-section {
        width: 800px;
        padding: 64px 0px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }

    #footer .footer-item {
        float: left;
        margin-top: 15px;
        width: calc(100%/3);
        text-align: center;
        display: block;
    }

    .custom-ul {
        list-style: none;
        padding: 0;
    }

    .custom-ul li {
        margin-left: 43%;
        text-align: left;
    }

    .custom-link {
        color: white;
        text-decoration: none;
        transition: text-decoration 0.3s;
    }

    .custom-link:hover {
        text-decoration: underline;
    }

    .contact-info ul {
        list-style: none;
        padding: 0;
        text-align: left;
        /* Căn lề nội dung về bên trái */
    }

    .contact-info li {
        margin-bottom: 8px;
        color: white;
        text-align: left;
        /* Căn lề nội dung về bên trái */
    }

    .contact-info li i {
        margin-right: 8px;
    }

    .contact-info a {
        color: white;
        text-decoration: none;
        transition: text-decoration 0.3s;
    }

    .contact-info a:hover {
        text-decoration: underline;
    }

    .contact {
        font-weight: bold;
        color: white;
        margin-bottom: 15px;
        font-size: 18px;
        text-align: left;
        /* Căn lề văn bản về bên trái */
    }

    .source {
        margin-top: 152px;
        width: 100%;
        background-color: #fff;
        text-align: center;
        padding: 0.7%;
    }
</style>
<script src="/public/scripts/layout.js"></script>
<script src="https://kit.fontawesome.com/94316c747f.js" crossorigin="anonymous"></script>
</body>

</html>